/* Forms
---------------------------------------------------------------------- */

input {
    @include background-image(linear-gradient(rgba(255, 255, 255, 0.5), rgba(242, 242, 242, 0.5)));
    @include transition (all 0.30s ease-in-out);
    border-radius: $border-radius;
    border: 1px solid $color-border;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 12px 10px 12px 37px;
    position: relative;
    width: 100%;

    &:focus {
        border: 1px solid rgba(81, 203, 238, 1);
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }

    @include placeholder {
        color: $color-secondary;
    }
}
