/* Variables
---------------------------------------------------------------------- */

$color-background: #FFF;

$color-border: #CCC;
$color-border-btn: #000;

$color-link: #53bf6b;
$color-text-drop-shadow: #152a77;

$color-primary: #666666;
$color-secondary: #53bf6b;
$color-warning: #FF9933;

$border-radius: 6px;

$breakpoint: 728px;

$font-family-sans: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", Verdana, Arial, sans-serif;
$font-family-headline: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
